<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" placeholder="Enter your old password" id="password">
        <input type="text" placeholder="Ennter your new password" id="newPassword">
        <input type="text" placeholder="Ennter your confirm password" id="confirmPassword">
        <input type="submit">
    </form>
</body>
<script>
    document.querySelector("form").addEventListener("submit",(e)=>{
        e.preventDefault()
        let obj={
             password:document.getElementById("password").value,
             newPassword:document.getElementById("newPassword").value,
             confirmPassword:document.getElementById("confirmPassword").value
        }
       return updateproduct(obj);
    })

    const updateproduct = (data) => {
      fetch(`/changepassword`, {
        method: "PATCH",
        headers: { "content-type": "application/json" },
        body: JSON.stringify(data),
      })
        .then((response) => response.json())
        .then((response) => console.log(response));
    };
</script>
</html>